* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(to right, black, rgb(49, 49, 49));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 40px;
    border-radius: 10px;
}

.container h2 {
    color: #4e4376;
    text-align: center;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeff3;
    border-radius: 30px;
    padding-left: 20px;
    margin: 25px 0px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

#addBtn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeff0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

#complete {
    border: none;
    outline: none;
    padding: 16px 30px;
    background: rgb(35, 187, 35);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

#clear {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(243, 59, 59);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.btn:hover {
    box-shadow: 0 10px 20px rgba(122, 182, 116, 0.5);
}